# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

node_modules
yarn.lock
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.yarn/*
.gitattributes
.editorconfig
