* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #535bf2;
}

#root {
  margin: 0;
  display: block;
  max-width: 1280px;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  padding: 2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #D8ECFB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media(min-width: 768px) {
    margin: 0 auto;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0 6px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFF;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #365D7A;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

section {
  background-color: #FAECD7;
  padding: 8px 16px;
  margin: 8px 0;
  border-radius: 8px;

  &>h1 {
    font-size: 24px;
    color: #365D7A;
  }

  &>h2 {
    font-size: 18px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}